@using PazYSalvoAPP.Models;

@model PazYSalvoAPP.WebApp.Models.ViewModels.PagoViewModel

@{
}

<h2>Editar pago</h2>
<div class="frmContainer">
    <form method="post" asp-action="ActualizarPago" asp-controller="Pago" id="frmEditarPago" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">
        </div>

        <div class="form-group">
            <label for="MontoDePago">Monto de Pago</label>
            <input type="number" class="form-control" id="MontoDePago" name="MontoDePago" value="@(Model.MontoDePago)">
        </div>
        <br />
        <div class="form-group">
            <label for="FacturaId">FacturaId</label>
            <input type="number" class="form-control" id="FacturaId" name="FacturaId" value="@(Model.FacturaId)">
        </div>
        <br />
        <div class="form-group">
            <label for="Activo">Activo</label>
            <input type="text" class="form-control" id="Activo" name="Activo" value="@(Model.Activo)">
        </div>
        <br />
      

        <br />

        <div class="modal-footer">
            <a type="button" class="btn btn-secondary" href="@Url.Action("Index", "Pago")">Volver</a>
            <button type="submit" class="btn btn-primary" id="btnActualizarPago">Actualizar</button>
        </div>
    </form>
</div>
